{% extends "base.html" %}

{% block content %}

    <h1>Artist #1: X Ambassadors</h1>
    <hr>
    <h3>Location: <b>Ithaca, New York Area</b></h3>
    <hr>
    <p>X Ambassadors is an American rock band from Ithaca, New York. Its members currently include lead vocalist Sam Harris, keyboardist Casey Harris, and drummer Adam Levin. Their most notable songs include "Jungle", "Renegades", and "Unsteady". The band's debut full-length album, VHS, was released on June 30, 2015.</p>
    <hr>
    <h3>Upcoming shows: <b>n/a</b></h3>

{% endblock %}