{% extends 'bootstrap/base.html' %}


<html>
    <head>
        {% block title %}
            {% if title %}
                <title>{{ title }} - Microblog</title>
            {% else %}
                <title>Welcome to Microblog</title>
            {% endif %}
        {% endblock %}
    </head>
    <body>
    {% block navbar %}
        <div>
            <a href="/index">Ithaca Music: </a>
            <a href="/artists"> Artists</a>
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}">Login</a>
                {% else %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                    <a href="{{ url_for('new_artist') }}">New Artists</a>
                    <a href="{{ url_for('new_venue') }}">New Venue</a>
                    <a href="{{ url_for('new_event') }}">New Event</a>
                {% endif %}
    {% endblock %}
        </div>
        <hr>

    {% block content %}
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>

        {% block app_content %} {% endblock %}

    {% endblock %}
    </body>
</html>
