{% extends "base.html" %}

{% block content %}
    {% if not form.validate_on_submit() %}

    <h1>Have an event you want to add? Let us know!</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.date.label }}<br>
            {{ form.date }}<br>
            {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.venueID.label }}<br>
            {{ form.venueID(size=32) }}<br>
            {% for error in form.venueID.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.artists.label }}<br>
            {{ form.artists(size=32) }}<br>
            {% for error in form.artists.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% else %}
        {{ form.name.data }}

{% endif %}
{% endblock %}