{% extends "base.html" %}

{% block content %}
    {% if not form.validate_on_submit() %}

    <h1>Have a venue you want to add? Let us know!</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.city.label }}<br>
            {{ form.city(size=32) }}<br>
            {% for error in form.city.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.state.label }}<br>
            {{ form.state(size=32) }}<br>
            {% for error in form.state.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.capacity.label }}<br>
            {{ form.capacity(size=32) }}<br>
            {% for error in form.capacity.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% else %}
        {{ form.name.data }}

{% endif %}
{% endblock %}